image: 'node:22-bullseye'

pipelines:
  default:
    - parallel:
      - step:
          name: 'Install'
          script:
            - apt-get update
            - apt-get install cmake --yes
            - npm install
      - step:
          name: 'Lint'
          caches:
            - node
          script:
            - npm run lint
      - step:
          name: 'Security scan'
          script:
            - echo "Your security scan goes here..."	  

    # The following deployment steps will be executed for each pipeline run. To configure your steps and conditionally deploy see https://support.atlassian.com/bitbucket-cloud/docs/configure-bitbucket-pipelinesyml/
    - step:
        name: 'Deployment to Staging'
        deployment: staging
        script:
          - echo "Your deployment to staging script goes here..."
    - step:
        name: 'Deployment to Production'
        deployment: production
        trigger: 'manual'
        script:
          - echo "Your deployment to production script goes here..."
