image: node:22-bullseye

clone:
  depth: 1

definitions:
  caches:
    yarn: '/usr/local/share/.cache/yarn'

pipelines:
  default:
    - step:
        name: Install
        caches:
          - yarn
        script:
          - yarn install --frozen-lockfile
        artifacts:
          - node_modules/**

    - step:
        name: Lint
        script:
          - yarn lint

    - step:
        name: Security scan
        script:
          - echo "Your security scan goes here..."

    - step:
        name: Deployment to Staging
        deployment: staging
        script:
          - echo "Your deployment to staging script goes here..."

    - step:
        name: Deployment to Production
        deployment: production
        trigger: manual
        script:
          - echo "Your deployment to production script goes here..."
