image: 'node:22-bullseye'

pipelines:
  default:
    - step:
        name: Install & Lint
        caches:
          - node
        script:
          - npm install
          - npm run lint

    - step:
        name: 'Security scan'
        script:
          - echo "Your security scan goes here..."

    - step:
        name: 'Deployment to Staging'
        deployment: staging
        script:
          - echo "Deploy staging"

    - step:
        name: 'Deployment to Production'
        deployment: production
        trigger: manual
        script:
          - echo "Deploy production"
