image: node:22-bullseye

clone:
  depth: 1

definitions:
  caches:
    yarn: '/usr/local/share/.cache/yarn'
  
  steps:
    - step: &install
        name: Install
        caches:
          - yarn
        artifacts:
          - node_modules/**
        script:
#          - |
#            if [[ -n "$BITBUCKET_PR_ID" ]]; then
#              export HOST_NAME="${BITBUCKET_REPO_SLUG}-${BITBUCKET_COMMIT}";
#              export TEST_GRAPHQL=http://${HOST_NAME}.sbx.airtm.com:6222/.well-known/health
#              echo "HOST_NAME=$HOST_NAME"
#              echo "TEST_GRAPHQL=$TEST_GRAPHQL"
#              curl_output=`curl --silent ${TEST_GRAPHQL} || true`
#              echo "curl_output=$curl_output"
#              if echo -n $curl_output | grep '"name":'; then
#                export GRAPHQL_ENDPOINT=http://${HOST_NAME}.sbx.airtm.com:6222/graphql
#                echo "Found running sandbox at $GRAPHQL_ENDPOINT"
#              else
#                echo "Did not find running sandbox"
#              fi
#            fi
          - apt-get update
          - apt-get install cmake --yes
          - yarn install --frozen-lockfile

    - step: &lint
        name: Lint
        artifacts:
          - reports/*
        script:
          - yarn lint

    - step: &unit-tests
        name: Unit Tests
        artifacts:
          - coverage/lcov.info
          - reports/*
        script:
          - CI=true yarn test --coverage --maxWorkers 2

pipelines:
  default:
    - step: *install
    - parallel:
          - step: *lint
          - step: *unit-tests          
    
    - step:
        name: Security scan
        script:
          - echo "Your security scan goes here..."
    

    - step:
        name: Deployment to Staging
        deployment: staging
        script:
          - echo "Your deployment to staging script goes here..."

    - step:
        name: Deployment to Production
        deployment: production
        trigger: manual
        script:
          - echo "Your deployment to production script goes here..."
